@import url("reset.css");

dy {
    background-color: #999;
    font-family: Arial,"微軟正黑體";
}
/*===首頁區===*/

#HEADER {
    /*width: 95vw;
    margin: 0 auto;*/
}

    #HEADER h1 {
        /*display: block;
        width: 95vw;*/
        height: 200px;
        background-image: url(title1.png);
        /*background-position: center;
        background-size: 95vw;
        background-repeat: no-repeat;
        text-indent: -9999px;*/
    }

body {
    background-image: url(SmartCloudBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    /*width: 90vw;*/
    /*margin: 0 80px;*/
}
/*===主選單===*/
#NAV {
    /*width: 90vw;*/
    /*margin: 20px 85px;*/
    overflow: hidden;
    font-family: DFKai-sb,"標楷體";
    margin-bottom: 1rem;
}

den;
#NAV ul {
}

#NAV li {
    float: left;
}

    #NAV li a {
        display: block;
        /*width: 22vw;*/
        height: 50px;
        line-height: 50px;
        background-color: #000;
        /*font-size: 15px;*/
        color: #FFF;
        letter-spacing: 2px;
        text-align: center;
        text-decoration: none;
    }

        #NAV li a:hover {
            background-color: #5F9EA0;
        }

        #NAV li a.active {
            background-color: #5F9EA0;
        }
/*==容區===*/
ul li ul li {
    clear: both;
    width: 100%;
}

#CONTENT {
    clear: both;
    width: 1
}

/*===內容區===*/
#CONTENT {
    clear: both;
    width: 1800px;
    margin: 0 auto;
    background-color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
}

    #CONTENT p {
        text-indent: 50px;
        font-size: 35px;
        line-height: 1.7;
        padding: 0 30px;
        padding-bottom: 15px;
    }

/*===頁尾區===*/
#FOOTER {
    width: 980px;
    margin: 0 auto;
    background-color: #000;
}

    #FOOTER h2 {
        font-size: 15px;
        text-align: center;
        line-height: 60px;
        color: #FFF;
    }

.gvStyle {
    border: 2px solid #CCC;
}
    /*Header 標題*/
    .gvStyle th {
        background-color: #507CD1;
        font-weight: lighter;
        border: 1px solid #ccc;
        height: 25px;
        text-align: center;
        font-size: 25px;
        font-family: DFKai-sb,"標楷體";
    }

        .gvStyle th a {
            color: white;
            padding: 0px 3px 0px 3px;
        }
    /*OnMouseOver 滑鼠移過列表時, 背景色變更*/
    .gvStyle tr:hover {
        background-color: #FFF4DA;
    }
    /*Rows 列表顏色*/
    .gvStyle td {
        border: 1px solid #ccc;
        height: 25px;
        font-size: 15px;
        font-family: DFKai-sb,"標楷體";
        background-color: aliceblue;
    }
    /*Change Rows 如果想要有單、雙列不同顏色替換, 在這裡更換*/
    .gvStyle .alt {
        background-color: #efefef;
        border: 1px solid #ccc;
        height: 25px;
    }
    /*Page 分頁顏色*/
    .gvStyle .pgr table {
        margin-left: auto;
        margin-right: auto;
    }

    .gvStyle .pgr td {
        background-color: #E2EAF2;
        border-width: 0px;
        padding: 0px 3px 0px 3px;
        font-size: 20px;
    }

        .gvStyle .pgr td a {
            color: #666;
            text-decoration: underline;
            padding: 0px 3px 0px 3px;
        }

    .gvStyle .pgr a:hover {
        color: #FF0000;
        text-decoration: none;
    }

/*=================================Fix=====================================*/
.container-fluid {
    width: 85% !important;
}

    .container-fluid > div > select, span, input {
        vertical-align: middle !important;
    }

.img-fluid > img {
    width: 100% !important;
    display: block !important;
}

.auto-style2 th,
.auto-style2 td {
    font-size: xx-large;
}

#NAV a {
    font-size: xx-large
}
